<div
    *ngIf="allPlanets$ | async; let allPlanets"
    class="planets"
>
    <ng-container *ngFor="let planet of allPlanets">
        <a
            *ngIf="planet"
            class="planet-card"
        >
            <mat-card (click)="handlePlanetDetails(planet.url)">
                <mat-card-header class="planet-card__header">
                    <mat-card-title>{{ planet.name }}</mat-card-title>
                </mat-card-header>
                <img
                    mat-card-image
                    [src]="planet?.imageUrl"
                    alt="Photo of {{ planet.name }}"
                >
                <mat-card-content>
                    <p>
                        <span>Climate: &nbsp;</span>
                        <span>{{ planet.climate }}</span>
                    </p>
                    <p>
                        <span>Population: &nbsp;</span>
                        <span>{{ planet.population }}</span>
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
</div>

<ng-template
    #toolbarTmpl
    let-isLoadMoreHidden="isLoadMoreHidden"
    let-loadingStatus="loadingStatus"
>
    <div
        *ngIf="isLoadMoreHidden"
        class="planets-toolbar"
    >
        <button
            mat-raised-button
            *ngIf="!loadingStatus"
            color="primary"
            (click)="loadPlanets()"
        >Load more</button>
        <mat-spinner
            color="primary"
            *ngIf="loadingStatus"
            mode="indeterminate"
            [diameter]="30"
        ></mat-spinner>
    </div>
</ng-template>

<ng-container
    *ngTemplateOutlet="
        toolbarTmpl;
        context: {
            isLoadMoreHidden: isLoadMoreHidden$ | async,
            loadingStatus: loadingStatus$ | async
        }
    "
></ng-container>
